.header-btn {
    height: 42px;
    background: #E7E7E7;
}

.header-btn:hover {
    background: #dadada;
}

.header-btn:active {
    background: #bbbbbb;
}

.user-name-text {
    font-family: 'Comfortaa', serif;
    font-size: 24px;
    line-height: 27px;

    cursor: pointer;
}

.content-wrapper {
    margin: 30px 70px 0 70px;

    display: flex;
    flex-direction: column;
    gap: 22px;
}

.first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.line-title {
    font-family: 'Comfortaa', serif;
    font-size: 32px;
    line-height: 36px;
}

.middle-btn {
    width: 290px;
}

.user_img {
    height: 150px;
    width: 108px;

    object-fit: contain;
}

.table-btn {
    width: 230px;
    height: 42px;
}

.table-btn .btn-text {
    font-size: 20px;
    line-height: 22px;
}


th:nth-child(1) {
    width: 256px;
    text-align: left;
}

th:nth-child(2) {
    width: 1024px;
    text-align: left;
}

.dialog {
    padding-top: 10px;
    overflow-y: auto;
}

.dialog .wrapper {
    height: 100%;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 38px;
}

.add-news-form .params .params-names {
    padding-top: 6px;
}

.add-news-form .control-buttons {
    gap: 85px;
}

.add-news-form .wrapper .params {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;

    padding: 0 86px 0 86px;
}

.title-input, .content-input {
    padding: 10px;
    gap: 10px;

    height: calc(59px - 20px - 4px);

    border-radius: 10px;
    background: #FAFAFA;

    font-family: 'Roboto', serif;
    font-size: 27px;
    line-height: 32px;

    color: #001126;
}

.content-input {
    resize: none;
    height: 213px;
}
