body {
    margin: 0;

    font-family: 'Comfortaa', serif;
    font-style: normal;
    font-weight: 400;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 63px;

    padding: 0 26px 0 65px;

    background: #E7E7E7;
    box-shadow: 0 2px 21px rgba(0, 0, 0, 0.25);

}

.left-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;

    cursor: pointer;
}

.right-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;

    padding: 10px 35px 10px 35px;
}

.header-username-text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 130%;
}

.header-icon {
    font-size: 48px !important;
}

.header-text {
    font-size: 20px;
    line-height: 22px;
}

.btn {
    width: 163px;
    height: 61px;

    cursor: pointer;

    background: #FFFFFF;

    border-radius: 10px;
    border-color: #05336E;
}

.btn:hover {
    background: #ececec;
}

.btn:active {
    background: #d3d3d3;
}

.btn:disabled {
    cursor: default;
    background: #d2d2d2;
    border-color: #04254f;
}

.btn:disabled .btn:hover, .btn:active {
    background: #d2d2d2;
}

.btn .btn-text {
    font-family: 'Comfortaa', serif;

    font-size: 24px;
    line-height: 27px;

    color: #021630;
}

.dialog {
    box-sizing: border-box;

    position: absolute;
    width: 90vw;
    min-width: 700px;
    height: 517px;
    top: 132px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;

    padding: 0;
}

.dialog .wrapper {
    height: 100%;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dialog-header-text {
    text-align: center;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.dialog .wrapper .params {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 66px;

    padding: 0 35px 0 68px;
}

input[type="file" i] {
    display: none;
}

.file-input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.file-input-label .wrapper {
    width: 200px;
    height: 35px;

    padding: 10px;

    cursor: pointer;

    background: #FAFAFA;

    border-radius: 10px;
    border: 2px solid;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.file-input-label .wrapper div{
    font-family: 'Roboto', serif;
    font-size: 27px;
    line-height: 32px;
}

.file-input-label .chosen-file-text {
    font-family: 'Roboto', serif;
    font-size: 27px;
    line-height: 32px;

    color: #001126;

    min-width: 158px;
}

.params .params-names {
    display: flex;
    flex-direction: column;

    min-width: 180px;

    /*  Gap must be set manually in the end implementation  */
}

.params .params-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*  Gap must be set manually in the end implementation  */
}

.params-text {
    font-family: 'Roboto', serif;
    font-size: 32px;
    line-height: 130%;
    /* or 42px */

    text-align: right;
}

.params-inputs input {
    padding: 10px;
    gap: 10px;

    height: calc(59px - 20px - 4px);

    border-radius: 10px;
    background: #FAFAFA;

    font-family: 'Roboto', serif;
    font-size: 27px;
    line-height: 32px;

    color: #001126;
}

.control-buttons {
    align-self: center;

    display: flex;
    flex-direction: row;
    /*  Gap must be set manually in the end implementation  */
}

.control-buttons .btn {
    height: 49px;
}

.control-buttons .btn .btn-text {
    font-size: 20px;
    line-height: 22px;
}

/*############# TABLE ################*/

.table {
    font-family: 'Roboto', serif;
    font-size: 20px;
    line-height: 21px;

    overflow-x: auto;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 10px;

    font-weight: normal;

    color: #EEEEEE;
    background-color: #e8092b;
}

td {
    padding: 10px;

    width: 41px;

    /*  Height must be set manually in the end implementation  */

    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*  Setting text-align to center/left/right must done manually in the end implementation */
/*  Setting columns sizes must done manually in the end implementation */

tr:nth-child(odd) {
    background: #D8D6CB;
}

tr:nth-child(odd) button {
    background: #D8D6CB;
}

tr:nth-child(odd) button:hover {
    background: #c7c5bb;
}

tr:nth-child(odd) button:active {
    background: #b7b5ab;
}

tr:nth-child(even) {
    background: #F4F3E7;
}

tr:nth-child(even) button {
    background: #F4F3E7;
}

tr:nth-child(even) button:hover {
    background: #e3e2d7;
}

tr:nth-child(even) button:active {
    background: #d2d1c7;
}

tr:hover .table-btns {
    display: flex;
}

.table-btns {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  Gap must be set manually in the end implementation  */
}

.table-btn {
    /*  Height and width must be set manually in the end implementation  */

    cursor: pointer;
}
