<div class="header">
    <div class="left-header">
        <span class="material-symbols-outlined header-icon"> accessibility_new </span>
        <div class="header-text">Social Network Manager</div>
    </div>

    <div *ngIf="isLoggedIn(); then thenBlock else elseBlock">

    </div>
    <ng-template #thenBlock >
        <button class="btn header-btn" (click)="openFriendsPage()">
            <div class="btn-text">Friends</div>
        </button>
        <div class="right-header">
            <div class="user-name-text" (click)="goToUserPage()">{{ getUserName() }}</div>
            <button *ngIf="isAdmin()" class="btn header-btn" (click)="openAdminPage()">
                <div class="btn-text">Admin</div>
            </button>
            <button class="btn header-btn" (click)="logOut()">
                <div class="btn-text">Log Out</div>
            </button>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div class="right-header">
            <button class="btn header-btn" (click)="openLogInForm()">
                <div class="btn-text">Log In</div>
            </button>
            <button class="btn header-btn" (click)="openSignUpForm()">
                <div class="btn-text">Sign Up</div>
            </button>
        </div>

    </ng-template>
</div>

<!-- Log In Form -->
<dialog class="dialog log-in-form" id="logInForm" [open]="is_log_in_form_open" >
    <form class="wrapper" [formGroup]="logInForm" (ngSubmit)="onLogInSubmit()" >
        <div class="dialog-header-text">Log In</div>
        <div class="params">
            <div class="params-names">
                <div class="params-text">Email:</div>
                <div class="params-text">Password:</div>
            </div>
            <div class="params-inputs">
                <input formControlName="emailControl">
                <input formControlName="passwordControl" type="password" name="password">
            </div>
        </div>
        <div class="control-buttons">
            <button class="btn" type="button" (click)="closeLogInForm()">
                <div class="btn-text">Cancel</div>
            </button>
            <button class="btn" type="submit" [disabled]="!logInForm.valid">
                <div class="btn-text">Log In</div>
            </button>
        </div>
    </form>
</dialog>


<!-- Sign Up Form -->
<dialog class="dialog sign-up-form" id="signUpForm" [open]="is_sign_up_form_open">
    <form class="wrapper" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
        <div class="dialog-header-text">New User Registration</div>
        <div class="params">
            <div class="params-names">
                <div class="params-text">Email:</div>
                <div class="params-text">Password:</div>
                <div class="params-text">Full Name:</div>
                <div class="params-text">Date of Birth:</div>
                <div class="params-text">Avatar:</div>
            </div>
            <div class="params-inputs">
                <input formControlName="emailControl">
                <input formControlName="passwordControl" type="password">
                <input formControlName="fullNameControl">
                <input formControlName="dateOfBirthControl" type="date" >

                <label for="fileInput" class="file-input-label">
                    <div class="wrapper">
                        <span class="material-symbols-outlined"> cloud_upload </span>
                        <div>Choose Photo</div>
                    </div>
                    <div class="chosen-file-text">{{ file_name }}</div>
                </label>
                <input formControlName="avatarControl" id="fileInput" type="file" accept="image/png" (change)="onFileSet($event)">
            </div>
        </div>
        <div class="control-buttons">
            <button class="btn" type="button" (click)="closeSignUpForm()">
                <div class="btn-text">Cancel</div>
            </button>
            <button class="btn" type="submit" [disabled]="!signUpForm.valid">
                <div class="btn-text">Sign Up</div>
            </button>
        </div>
    </form>
</dialog>

